# Resources folder to feed the AI
# Contains user manuals, and repos of other people's attempts at an API client
/resources

# Dedicated Python environment for the project
/py-env

# Remove macOS DS store files
.DS_Store

# Output folder
/output